body {
  background: url("../img/black-tile.png");
  overflow: hidden;
}

h1 {
    color: #EEE;
    font-family: "Arial";
    text-transform: uppercase;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.main {
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -490px;
  width: 980px;
}

.score {
    height: 600px;
    width: 200px;
    padding: 5px;
    float: left;
    display: inline;
    background: #2c2c2c;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-user-select: none;
}

.game {
  width: 300px;
  height: 600px;
  padding: 5px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  float: left;
  display: inline;
  overflow: auto;

  background-color: #333;
  color: #AAA;
  font-size: 16px;
}

.score p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin-left: -1em;
    color: white;
}

.score p strong {
    width: 100%;
    display: block;
    font-size: 3em;
    letter-spacing: 0px;
}

.next-piece {
    display: flex;
    align-items: center;
    justify-content: center;
}
